html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.start {
  margin-right: 10px;
  min-width: 70px;
  height: 50px;
  border-radius: 7px;

  font-size: 15px;
  color: #111111;
  background-color: aliceblue;

  cursor: pointer;
}

.stop {
  min-width: 70px;
  height: 50px;
  border-radius: 7px;

  font-size: 15px;
  color: #111111;
  background-color: aliceblue;

  cursor: pointer;
}

